[submodule "src/kbhackathon"]
	path = src/kbhackathon
	url = git@github.com:drinkdhmo/kbhackathon.git
[submodule "src/inertial_sense_ros"]
	path = src/inertial_sense_ros
	url = git@github.com:inertialsense/inertial_sense_ros.git
[submodule "src/timed_roslaunch"]
	path = src/timed_roslaunch
	url = https://github.com/MoriKen254/timed_roslaunch.git
[submodule "src/common_ros"]
	path = src/common_ros
	url = https://magiccvs.byu.edu/gitlab/Jerel/common_ros.git 
